---
import Layout from "../layouts/layout.astro";
---

<Layout title="Welcome to Astro Project">
	<header>
		<h1 class="text-amber-200">Welcome to Astro Project!</h1>
		<p>
			This is a simple Astro project. You can start building your site by
			modifying the files in the <code>src</code> directory. This project is
			set up with a basic layout and a dependencies include tal como React,
			Tailwind CSS, Shadcn.
		</p>
		<p>
			To learn more about Astro, check out the <a
				href="https://astro.build">Astro documentation</a
			>.
		</p>
	</header>
	<main>
		<slot />
	</main>
	<footer>
		<p>© 2023 Your Name. All rights reserved.</p>
	</footer>
</Layout>
