---
import Layout from '@layouts/layout.astro'
import { Button } from '@ui/button'
import Dashboard from '@/components/organisms/NovaApp'
---

<Layout title="Welcome to Astro Project">
  <h1 class="text-6xl">Index</h1>
</Layout>
