---
import Layout from "@layouts/layout.astro";
import { Button } from "@ui/button";
---

<Layout title="Welcome to Astro Project">
	<header>
		<main>
			<p>
				Astro is a modern static site generator that allows you to build
				fast, optimized websites using your favorite frameworks and
				libraries.
				<a class="text-blue-500" href="https://astro.build">
					To learn more about Astro, check out the <a
						href="https://astro.build">Astro documentation</a
					>.
				</a>
				<Button>Button</Button>
			</p>
		</main>
	</header>
</Layout>
