---
import Layout from '@layouts/monoPage.astro'
import DashboardApp from '@/components/organisms/NovaApp'
---

<Layout title="Dashboard">
  <DashboardApp client:load>
    <h1>Dashboard</h1>
    <p>Welcome to the dashboard!</p>
  </DashboardApp>
</Layout>
