---
import Brand from "@components/atoms/Brand.astro";
import { ModeToggle } from "@components/atoms/ModeToggle";
import NavLinks from "@components/atoms/NavLinks.astro";
---

<nav class="flex justify-between items-center">
  <div class="">
    <Brand />
  </div>
  <div>
    <NavLinks />
  </div>
  <div>
    <ModeToggle />
  </div>
</nav>
