---
<<<<<<< HEAD
import { SEO } from "astro-seo";
const { title } = Astro.props;
import "@styles/global.css";
=======
const { title } = Astro.props
import '@styles/global.css'
import { useState } from 'react'
>>>>>>> nano
---

<!doctype html>
<html lang="en">
<<<<<<< HEAD
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <SEO
            title="A Very Descriptive Title"
            description="A heavily optimized description full of well-researched keywords."
            openGraph={{
                basic: {
                    title: "A Very Descriptive Title",
                    type: "A type.",
                    image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
                },
            }}
            twitter={{
                creator: "@jonasmerlins1",
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/favicon.ico" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content:
                            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
                    },
                    {
                        name: "twitter:title",
                        content: "Tinker Tailor Soldier Spy",
                    },
                    { name: "twitter:description", content: "Agent" },
                ],
            }}
        />
    </head>
    <body>
        <header class="bg-gray-100 p-4">
            <h1 class="text-4xl font-bold text-blue-500">
                Welcome to Astro Project!
            </h1>
            <p>This is a simple Astro project.</p>
        </header>
        <main class="p-4 bg-red-100">
            <slot />
        </main>
        <footer class="bg-gray-200 p-4">
            <p>© 2023 Your Name. All rights reserved.</p>
        </footer>
    </body>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <header class="bg-gray-100 p-">
      <h1 class="text-4xl font-bold text-blue-500">
        Welcome to Astro Project!s
      </h1>
      <p>This is a simple Astro project.</p>
    </header>
    <main class="p-4 bg-red-100">
      <slot />
    </main>
    <footer class="bg-gray-200 p-4">
      <p>© 2023 Your Name. All rights reserved.</p>
    </footer>
  </body>
>>>>>>> nano
</html>
